@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8e7d9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #322f2f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}
